.footer {
    background: linear-gradient(to bottom, #55E99F 30%, #FFC8E0 150%);
    color: #105f2b;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .footer a {
    color: rgb(33, 143, 60);
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }